<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #80ced7;
}

.container{
    background-color: #219ebc;
    width: 40%;
    height: 50%;
    min-width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    gap: 1rem;
}

.timer-Display{
    width: 100%;
    height: 60%;
    background: #fefcfb;
    padding: 40px 0;
    font-family: "Roboto", sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 2rem rgb(136, 136, 136);
}

.laps{
    text-align: center;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.buttons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.buttons button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #141313;
    border: none;
    font-family:  "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover{
    background-color:#141313 ;
    color: #ffffff;
    padding: 7px 17px;
} 


.scroll {
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
    display: none;
=======
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.Container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: "Josefin Sans", serif;
    position: relative;

}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.box:hover {
    background-color: rgb(235, 207, 235);
}

.bt{
   margin-top: 20px;
}

.info {
    font-size: 20px;
    margin: 20px;
}

.gameInfo {
    padding: 0 50px;
    font-family: "Josefin Sans", serif;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #efaae0;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Josefin Sans", serif;
    font-size: 15px;
    font-weight: bolder;
}

.btn {
    margin: 0 23px;
    padding: 6px 14px;
    background: #b89bc7;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Josefin Sans", serif;
}

@media screen and (max-width: 950px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 34px;
    }

    .gameInfo h1 {
        font-size: 1.5rem;
    }

    .Container {
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
>>>>>>> 3686574a6a25d14f43ede1bc8e3e67008656875e
}